@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default Theme</title>
</head>
<body>
    <div>
    Default Theme
    </div>
</body>
</html>
